@page
@model Generator.Pages.Creatures.IndexModel

@{
    ViewData["Title"] = "Creatures";
}

<h1>Index</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, null, Operations.Create)).Succeeded)
{
    <a asp-page="Create">Create New</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Creature[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creature[0].Description)
            </th>
            <th/> <!-- Column for icon -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Creature) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <img src="Icons/@Html.DisplayFor(modelItem => item.Image)" alt="icon" height=40 width=40 />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CreatureId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CreatureId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CreatureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
