@page
@model Generator.Pages.Outposts.FillModel
@{
    ViewData["Title"] = "Fill an Outpost";
}

<h1>Filled @Html.DisplayFor(model => model.Outpost.Name)</h1>
<a asp-page="Index">Return to Outposts</a>
@if (Model.ReligiousSites != null && Model.ReligiousSites.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th /> <!-- Column for icon -->
                <th>
                    @Html.DisplayNameFor(model => model.ReligiousSites[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReligiousSites[0].Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReligiousSites)
            {
                <tr>
                    <td>
                        <img src="~/Icons/@Html.DisplayFor(modelItem => item.Image)" alt="icon" height=40 width=40 />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.Artisans != null && Model.Artisans.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td /> <!-- Column for icon -->
                <th>
                    @Html.DisplayNameFor(model => model.Artisans[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artisans[0].Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Artisans)
            {
                <tr>
                    <td>
                        <img src="~/Icons/@Html.DisplayFor(modelItem => item.Image)" alt="icon" height=40 width=40 />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.SpecialtyShops != null && Model.SpecialtyShops.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th /> <!-- Column for icon -->
                <th>
                    @Html.DisplayNameFor(model => model.SpecialtyShops[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialtyShops[0].Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpecialtyShops)
            {
                <tr>
                    <td>
                        <img src="~/Icons/@Html.DisplayFor(modelItem => item.Image)" alt="icon" height=40 width=40 />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
