@page
@model Generator.Pages.Vessels.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vessel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vessel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vessel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vessel.CreatureCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vessel.CreatureCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vessel.TreasureCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vessel.TreasureCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vessel.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vessel.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vessel?.VesselId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
