@page
@model Generator.Pages.Vessels.FillModel

@{
    ViewData["Title"] = "Fill a Vessel";
}

<h1>Filled @Html.DisplayFor(model => model.Vessel.Name)</h1>
<a asp-page="Index">Return to Vessels</a>
@if (Model.Creatures != null && Model.Creatures.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th/> <!-- Column for icon -->
                <th>
                    @Html.DisplayNameFor(model => model.Creatures[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Creatures[0].Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var creature in Model.Creatures)
            {
                <tr>
                    <td>
                        <img src="~/Icons/@(Html.DisplayFor(modelItem => creature.Image)).png" alt="icon" height=40 width=40 />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => creature.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => creature.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.Treasures != null && Model.Treasures.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td/> <!-- Column for icon -->
                <th>
                    @Html.DisplayNameFor(model => model.Treasures[0].Name)
                </th>                                   
                <th>                                    
                    @Html.DisplayNameFor(model => model.Treasures[0].Description)
                </th>                                   
            </tr>
        </thead>
        <tbody>
            @foreach (var treasure in Model.Treasures)
            {
                <tr>
                    <td>
                        <img src="~/Icons/@(Html.DisplayFor(modelItem => treasure.Image)).png" alt="icon" height=40 width=40 />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => treasure.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => treasure.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}