@page
@model Generator.Pages.Vessels.IndexModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Vessels";
}

<h1>Fill a Vessel</h1>

<p>
    Select a vessel to fill.
    @if ((await AuthorizationService.AuthorizeAsync(User, null, Operations.Create)).Succeeded)
    {
        <a asp-page="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th/> <!-- Column for buttons -->
            <th/> <!-- Column for icon -->
            <th>
                @Html.DisplayNameFor(model => model.Vessel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vessel[0].CreatureCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vessel[0].TreasureCapacity)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vessel) {
        <tr>
            <td>
                <a asp-page="./Fill" asp-route-id="@item.VesselId">Fill</a>
                @if ((await AuthorizationService.AuthorizeAsync(User, item, Operations.Update)).Succeeded)
                {
                    <text> | </text>
                    <a asp-page="./Details" asp-route-id="@item.VesselId">Details</a>
                    <text> | </text>
                    <a asp-page="./Edit" asp-route-id="@item.VesselId">Edit</a>
                    <text> | </text>
                    <a asp-page="./Delete" asp-route-id="@item.VesselId">Delete</a>
                }
            </td>
            <td>
                <img src="Icons/@Html.DisplayFor(modelItem => item.Image)" alt="icon" height=40 width=40 />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatureCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreasureCapacity)
            </td>
        </tr>
}
    </tbody>
</table>
