@page
@model Generator.Pages.Encounters.DetailsModel

<div>
    <h4>Encounter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Encounter.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Encounter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Encounter.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Encounter.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Encounter?.EncounterId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
