@page
@model Generator.Pages.Encounters.DetailsModel

<h1>@Html.DisplayFor(model => model.Encounter.Name)</h1>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Encounter?.EncounterId">Edit</a> |
    <a asp-page="./Manage">Manage Encounters</a>
</div>
<hr/>
@if (Model.Participants != null)
{
    <h3>Participants</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Participants[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model.Participants[0].MaxHealth)</th>
            <th>@Html.DisplayNameFor(model => model.Participants[0].Armor)</th>
            <th>@Html.DisplayNameFor(model => model.Participants[0].Note)</th>
        </tr>
        @foreach (var item in Model.Participants)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.MaxHealth)</td>
                <td>@Html.DisplayFor(modelItem => item.Armor)</td>
                <td>@Html.DisplayFor(modelItem => item.Note)</td>
            </tr>
        }
    </table>
}
