@page "{id:int?}"
@model Generator.Pages.Encounters.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Encounters</h1>

<p>
    <a asp-page="Create">Create New Encounter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Encounter[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Encounter) {
    string selectedRow = "";
    var modalId = "modalDelete" + item.EncounterId;
    var targetModal = "#" + modalId;
    if (item.EncounterId == Model.EncounterId)
    {
        selectedRow = "table-success";
    }
        <tr class="@selectedRow">
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="./Index" asp-route-id="@item.EncounterId">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.EncounterId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EncounterId">Run</a> |
                <a asp-page="./Participants/Create" asp-route-id="@item.EncounterId">Add Participant</a> |
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="@targetModal">
                    Delete
                </button>

                <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                Delete @(item.Name)?
                            </div>
                            <div class="modal-footer">
                                <form method="post">
                                    <input name="encounterId" value="@item.EncounterId" type="hidden" />
                                    <button asp-page-handler="DeleteEncounter" class="btn bg-danger mr-1">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.Participants != null)
{
    <h3>Participants</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Participants[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model.Participants[0].MaxHealth)</th>
            <th>@Html.DisplayNameFor(model => model.Participants[0].Armor)</th>
            <th>@Html.DisplayNameFor(model => model.Participants[0].Note)</th>
            <th/>
        </tr>
        @foreach (var item in Model.Participants)
        {
            var modalId = "modalDelete" + item.ParticipantId;
            var targetModal = "#" + modalId;
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.MaxHealth)</td>
                <td>@Html.DisplayFor(modelItem => item.Armor)</td>
                <td>@Html.DisplayFor(modelItem => item.Note)</td>
                <td>
                    <a asp-page="./Participants/Edit" asp-route-id="@item.ParticipantId">Edit</a> |
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="@targetModal">
                        Delete
                    </button>

                    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                </div>
                                <div class="modal-body">
                                    Delete @(item.Name)?
                                </div>
                                <div class="modal-footer">
                                    <form method="post">
                                        <input name="participantId" value="@item.ParticipantId" type="hidden"/>
                                        <button asp-page-handler="DeleteParticipant" class="btn bg-danger mr-1">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@(Model.EncounterName)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>